<h3>Tabla de resultados</h3>  
<h2>{{resultado.resultado}}</h2>
<table>
    <tbody>
        <tr><td>abortados</td><td>{{resultado.abortados}}</td></tr>
        <tr><td>completos</td><td>{{resultado.completos}}</td></tr>
        <tr><td>desconectados</td><td>{{resultado.desconectados}}</td></tr>
        <tr><td>errores</td><td>{{resultado.errores}}</td></tr>
        <tr><td>ejecutados</td><td>{{resultado.ejecutados}}</td></tr>
        <tr><td>fallidos</td><td>{{resultado.fallidos}}</td></tr>
        <tr><td>en_progreso</td><td>{{resultado.en_progreso}}</td></tr>
        <tr><td>inconclusos</td><td>{{resultado.inconclusos}}</td></tr>
        <tr><td>no_ejecutados</td><td>{{resultado.no_ejecutados}}</td></tr>
        <tr><td>no_ejecutables</td><td>{{resultado.no_ejecutables}}</td></tr>
        <tr><td>pasados</td><td>{{resultado.pasados}}</td></tr>
        <tr><td>pasados_abortados</td><td>{{resultado.pasados_abortados}}</td></tr>
        <tr><td>pendientes</td><td>{{resultado.pendientes}}</td></tr>
        <tr><td>timeout</td><td>{{resultado.timeout}}</td></tr>
        <tr><td>total</td><td>{{resultado.total}}</td></tr>
        <tr><td>alertas</td><td>{{resultado.alertas}}</td></tr>
    </tbody>
</table>
